<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Charity Programmers</title>
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js" integrity="sha256-Z8zOlL7Qb7adkTfszqcKWybBdjBOZBY0r7DuFLZqMX8=" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <div class="ui huge fixed menu" id="main-menu">
            <a class="header item" href="/">
                <i class="empty heart icon"></i>
                    Charity Programmers<i class="code icon">
                </i>
            </a>
            
            <!-- Register | Login | Logout - Menu -->
            <% if (!currentUser) { %>
                <div class="right menu">
                    <a class="item" href="/register">Register</a>
                    <a class="item" href="/login">Login</a>
                </div> 
            <% } else if (currentUser) { %> 
                <div class="right menu"> <!-- highlight tab depending on what page they are on -->
                    <% if (typeof cp === "undefined") { %>
                        <% if (currentUser.organization === "programmer") { %>
                            <a href="/programmer/job" class="item">My View</a>
                        <% } else { %>
                            <a href="/charity/job" class="item">My View</a>
                        <% } %>
                    <% } else if (cp === "c") { %>
                        <% if (r === "index") { %>
                            <a href="/charity/job" class="active item">My Job(s)</a>
                            <a href="/charity/job/new" class="item">Create Job</a>
                        <% } else if (r == "new") { %> 
                            <a href="/charity/job" class="item">My Job(s)</a>
                            <a href="/charity/job/new" class="active item">Create Job</a>
                        <% } %>
                    <% } else if (cp === "p") { %>
                        <% if (r === "index") { %>
                            <a href="/programmer/job" class="active item">My Jobs</a>
                            <a href="/programmer/job/all" class="item">Available Jobs</a>
                        <% } else if (r == "view") { %> 
                            <a href="/programmer/job" class="item">My Jobs</a>
                            <a href="/programmer/job/all" class="active item">Available Jobs</a>
                        <% } %>
                    <% } %>
                    <a id="logout" class="item" href="/logout">Logged in as <strong id="loggedInAs"><%= currentUser.firstName[0].toUpperCase() + currentUser.firstName.slice(1) %></strong></a>
                </div>
            <% } %>
        </div>
        
        <% include flash %>  <!-- include flash success/error messages -->
        
        <div class="container">
            