<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Charity Programmers</title>
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" />
        <link rel="stylesheet" type="text/css" href="../../stylesheets/app.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js" integrity="sha256-Z8zOlL7Qb7adkTfszqcKWybBdjBOZBY0r7DuFLZqMX8=" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <div class="ui huge fixed menu" id="main-menu">
            <a class="header item" href="/">
                <i class="empty heart icon"></i>
                    Charity Programmers<i class="code icon">
                </i>
            </a>

            <!-- Register | Login | Logout - Menu -->
                <div class="right menu">
                    <a class="item" href="/register">Register</a>
                    <a class="item" href="/login">Login</a>
                    <a class="item" href="/logout">Logout</a>
                </div> 
        </div>
        
        <div class="container">