<% include partials/header %>
<div class="login"><h1 style="font-size:30px">Login</h1></div>

<div class="inputs">
    <form class="ui form" method="post">
        <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <button class="ui button center" id="center2" type="submit">Submit</button>
    </form>
    <a href="/" class="ui-button" tableindex ="0">Back Home!</a>
</div>
<% include partials/footer %>