#main-menu .icon {
    font-size: 100%;
}

#main-menu .code.icon {
    font-size: 110%;
    margin-left: 5px;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    margin-top: 8%;
    margin-bottom: 30px;
}

.formContainer {
    margin: 90px auto 0 auto;
    width: 50%;
}

.formContainer.small {
    width: 50%;
}

#field {
    margin-top: 10px;
}

#charity-jobs {
    width: 75%;
}

.ui #dropdown {
    width: 40%;
    margin: 20px 30% 10px auto;
}