<% include ../partials/header %>

<div class="ui stacked segments half" id="myJob">
    <div class="ui segment">
        My Job(s)
    </div>
    <div class="ui segment">
        Item 2
    </div>
</div>

<div class="ui stacked segments half" id="myInfo">
    <div class="ui segment">
        About Me
    </div>
    <div class="ui segment">
        Item 2
    </div>
</div>

<% include ../partials/footer %>