<% include ../partials/header %>

<% if (!job) { %>

    <!-- to be styled in the future -->
    <div class="ui centered huge header" id="header">You Have No Jobs</div>
    
<% } else { %>

    <div class="ui centered huge header" id="header">My Jobs</div>

    <table class="ui celled padded table">
        <thead>
            <tr>
                <th class="three wide">Name</th>
                <th class="three wide">Rating</th>
                <th class="eight wide">Description</th>
                <th class="two wide">Accept</th>
            </tr>
        </thead>
        <tbody>
            <% job.applicants.forEach(function(applicant){ %>
                <tr>
                    <td><%= applicant.firstName[0].toUpperCase() + applicant.firstName.slice(1) + " " + applicant.lastName[0].toUpperCase() + applicant.lastName.slice(1) %></td>
                    <td><div class="ui star rating" data-rating="<%= applicant.programmer.rating %>" data-max-rating="5"></div></td>
                    <td><%= applicant.programmer.description %></td>
                    <td><a class="ui green button">Accept</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
<% } %>

<% include ../partials/footer %>