<% include ../partials/header %>

<div class="formContainer">

    <h1 class="ui centered header">Create New Job!</h1>

    <form action="/charity/job" method="post" class="ui centered form">
      <div class="field">
        <label>Description</label>
        <textarea name="job[description]"></textarea>
      </div>
      <button class="ui green button" type="submit">Submit</button>
    </form>
</div>

<% include ../partials/footer %>